body {
    background-color: mistyrose;
}
h1 {
    text-align: center;
}
th {
    background-color: lightslategray;
}
table{
    margin: auto;
    border: solid;
}

tr:hover {
    background-color: yellow;
}